.border-menu{
    border: solid 1px grey;
    margin-top: 10px;
    margin-right: 20px;
    transition: 0.4s;
}

.border-menu:hover{
    margin-top: 0px;
}

.main-cate{
    transition: background-color 0.5s, color 1s;
}

.main-cate:hover{
    background-color: #01928b;
    color: white
}

.banner-img{
    width: 100%;
    height: auto;
}
.frame-banner{
    position: relative;
}

.menu-detail{
    position: absolute;
    border: solid 1px grey;
    height: 400px;
    width: 400px;
    background-color: white;
    top: -10px;
    left: -32px;
    z-index: 100;
    opacity: 0;
    transform: translateX(5%);
    transition: transform 0.3s ease-in,  opacity 0.3s ease-in
}

.detail-visible{
    opacity: 1;
    transform: translateX(0);
}