.content {
  /* height: 200px; */
  background-color: #01928b;
  color: white;
}
.frame {
  margin: auto;
  width: 85%;
}
.frame .above {
  height: 150px;
}
.frame .above .logo {
  margin: 20px;
}
.frame .above img.logo-header {
  height: 100%;
  width: 100%;
}
.frame .above .contact-block {
  padding: 0;
  margin: 10px;
}
.frame .above .contact-block p {
  margin: 0;
  padding: 0;
}

.frame .above .figure-block .inside-figure {
  position: relative;
  margin: 10px;
}

.frame .above .figure-block .inside-figure .figure-count {
  font-size: 14px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  background-color: orange;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.icon-block {
  font-size: 35px;
}

.frame .bottom {
  height: auto;
}
.select-block {
  border-radius: 5px 0 0 5px;
  padding: 5px;
  width: auto;
  border-right: none;
  height: 40px;
}
.btn-search {
  height: 40px;
  border: none;
  padding: 0 40px;
  background-color: orange;
  color: white;
  border-radius: 0 5px 5px 0;
}
#search-header {
  padding: 0 20px;
  height: 40px;
}
.bottom {
  font-weight: 700;
}
.bottom .danhSach {
  width: 300px;
  height: 100%;
  font-size: 18px;
}
.bottom .menu {
  width: 100%;
  margin: 0 60px;
}
.bottom p {
  margin: 0;
  cursor: pointer;
}
.bottom p.active {
  color: orange;
}

.bottom p:hover {
  color: orange;
}
